<app-toolbar [title]="'Login'"></app-toolbar>

<ion-content class="ion-padding">
  <h1>
    <span *ngIf="!error else errorTitle">
      Login to the app
    </span>
    <ng-template #errorTitle>
      <ion-text color="danger">
        <ng-container [ngSwitch]="error.status">
          <span *ngSwitchCase="404">Credentials not found</span>
          <span *ngSwitchDefault>An error occurs</span>
        </ng-container>
      </ion-text>
    </ng-template>
  </h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="loginForm.get('email').dirty && !loginForm.get('email').valid">
      <span *ngIf="loginForm.get('email').hasError('required')">
        Email is required
      </span>
      <span *ngIf="loginForm.get('email').hasError('email')">
        Email must be valid
      </span>
    </ion-text>
    <br>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="loginForm.get('password').dirty && !loginForm.get('password').valid">
      Password is required
    </ion-text>
    <br>
    <br>
    <button ion-button type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>
</ion-content>