<app-toolbar [title]="'Login'"></app-toolbar>

<ion-content class="ion-padding">
  <h1>
    <span *ngIf="!error else errorTitle">
      Register to the app
    </span>
    <ng-template #errorTitle>
      <ion-text color="danger">
        <ng-container [ngSwitch]="error.status">
          <span *ngSwitchCase="409">{{error.error.error | titlecase}}</span>
          <span *ngSwitchDefault>An error occurs</span>
        </ng-container>
      </ion-text>
    </ng-template>
  </h1>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="registerForm.get('username').dirty && !registerForm.get('username').valid">
      Username is required
    </ion-text>
    <br>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="registerForm.get('email').dirty && !registerForm.get('email').valid">
      <span *ngIf="registerForm.get('email').hasError('required')">
        Email is required
      </span>
      <span *ngIf="registerForm.get('email').hasError('email')">
        Email must be valid
      </span>
    </ion-text>
    <br>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="registerForm.get('password').dirty && !registerForm.get('password').valid">
      Password is required
    </ion-text>
    <br>
    <ion-item>
      <ion-label position="floating">Confirm</ion-label>
      <ion-input type="password" formControlName="confirm"></ion-input>
    </ion-item>
    <ion-text color="danger"
      *ngIf="registerForm.get('confirm').dirty && registerForm.get('confirm').hasError('confirm')">
      Confirm do not match
    </ion-text>
    <br>
    <br>
    <button type="submit" [disabled]="!registerForm.valid">Register</button>
    <br>
  </form>
</ion-content>